<h1>SPA TP Super Heroes</h1>
<app-carga-personaje></app-carga-personaje>
@for (personaje of personajes; track personaje.id) {
<div>
  @if (personaje.imagenes?.length > 0) {
  <img [ngSrc]="personaje.imagenes?.[0]" alt="{{personaje.nombre}}" width="100" height="150" priority>
  } @else {
  <img [ngSrc]="personaje.imagenes" alt="{{personaje.nombre}}" width="100" height="150" priority>
  }

  <div>
    <a>{{ personaje.alias }}</a>
  </div>
  <button (click)="eliminarPersonaje(personaje.id)">Eliminar heroe</button>
  <button routerLink="/personaje/{{personaje.id}}" (click)="guardarPersonaje(personaje)">Ver detalles</button>
</div>
}
<img src="icons/DC_Comics_2024.svg.png" routerLink="/personajes-dc" alt="DC Logo" width="200" height="125">
<img src="icons/Marvel_Logo.svg.png" routerLink="/personajes-marvel" alt="Marvel Logo" width="200" height="125">